.bg-custom {
	background: rgb(228, 225, 225);
}
.fa-cog {
	/* border: 2px solid red; */
	font-size: 30px;
}
.btn-outline-success {
	/* border: 2px solid red; */
}

.form-inline {
	/* border: 2px solid blue; */
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchInput {
	/* border: 2px solid yellow; */
	width: 80%;
	outline: none;
}
